<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIWebviewBridgeSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DAB5CCE1D823F5F00C84927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DAB5CE71D823F5F00C84927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DAB5CF21D823F5F00C84927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
